@import "tailwindcss";

@layer base {
  html {
    font-size: 10px !important;
  }

  .rbc-month-header {
    border: none !important;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #64748b;
  }

  .rbc-header {
    border: none !important;
  }

  .rbc-event {
    border: none !important;
    border-radius: 8px !important;
    color: white !important;
  }

  .rbc-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
  }

  .rbc-toolbar button {
    background-color: #1e293b;
    color: white;
    border-radius: 6px;
    padding: 4px 12px;
    border: none;
  }

  .rbc-toolbar button {
    background-color: #1e293b !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 4px 12px !important;
    border: none !important;
  }

  .rbc-toolbar .rbc-btn-group:nth-child(3)>button {
    display: none !important;
  }

  .rbc-btn-group button:first-child {
    display: none !important;
  }

  .rbc-month-view {
    border: none !important;
  }

  .rbc-month-view>div:nth-child(2) {
    border-top: 1px solid #e6e6e6;
  }

  .rbc-month-view:last-child {
    border-bottom: 1px solid #e6e6e6 !important;
  }

  .rbc-row-bg:first-child {
    border-left: 1px solid #e6e6e6 !important;
  }

  .rbc-day-bg:last-child {
    border-right: 1px solid #e6e6e6 !important;
  }

  .rbc-btn-group {
    display: flex !important;
    gap: 8px !important;
    width: 100%;
    justify-content: end;
    margin-bottom: 8px;
  }

  .rbc-toolbar-label {
    display: none !important;
  }

  .rbc-btn-group button {
    background-color: white !important;
    border: 1px solid #e2e8f0 !important;
    color: #020817 !important;
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    border-radius: 8px !important;
  }

  .rbc-btn-group button:hover {
    background-color: #f1f5f9 !important;
  }

  .rbc-btn-group button:active {
    background-color: #f1f5f9 !important;
    box-shadow: none !important;
  }


  * {
    border-color: #e2e8f0;
  }
}